{% from "bootstrap5/form.html" import render_form %}
{% include "header2.html" %}

<body>
<section class="account-summary">
        <div class="container"><h2>Receive Money Into Your Accounts</h2>
            <br/><br/>

            <p>Use Your account number and routing number to receive money into any or both of your accounts</p>
        <div class="account">
            <h3>Checking Account</h3>
            <p>Account Number: XXXXXXXX</p>
            <p>Routing Number: XXXXXXX</p>
        </div>
        <div class="account">
            <h3>Savings Account</h3>
            <p>Account Number: XXXXXXXX</p>
            <p>Routing Number: XXXXXXXX</p>
        </div>
        </div>
    </section>

</body>
</html>