{% from "bootstrap5/form.html" import render_form %}
{% include "header.html" %}
<style>
    .parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.divider{
    margin-top:300px;

</style>


<div class="parent-container">
    <img class="mb-4" src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <div class="divider">

    </div>
    <h3> Thanks for signing up</h3>
    <p>Our team is processing your request, you will receive an email containing your account number.</p>
    <p>Please note that this may take sometime</p>

</div>

</body>
</html>